* {
    box-sizing: border-box;
}

.container {
    width: 1300px;
    margin: 0;
}


/*--HEADER--*/

header {
    position: relative;
    width: 1300px;
    height: 523px;
}

.ocean-waves {
    position: absolute;
    z-index: -1;
    width: 1300px;
    height: 523px;
}

header::before {
    content: "";
    position: absolute;
    width: 1300px;
    height: 523px;
    background-color: rgba(0, 96, 172, .75);
}

.brand {
    display: inline-block;
    padding-left: 200px;
}

.logo {
    height: 46px;
    width: 46px;
    margin-left: -60px;
}

.company-name-small {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    bottom: 18px;
    margin-left: 9px;
    letter-spacing: -.2px;
}

nav {
    position: relative;
    padding-top: 10px;
}

nav ul {
    display: inline-block;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 17.5px;
    text-transform: uppercase;
    position: relative;
    left: 545px;
    bottom: 19px;
}

nav li {
    display: inline-block;
}

.search-nav {
    position: relative;
    left: 13px;
}

.heading-1 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    font-size: 97px;
    top: 50px;
}

.heading-2 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 15.5px;
    bottom: 30px;
}


/*--MAIN ARTICLE--*/

.heading-3 {
    padding-left: 165px;
    position: relative;
    bottom: -9px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 62px;
    color: rgb(0, 50, 83);
    line-height: 71px;
}

.small-author-info {
    display: inline-block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    left: 166px;
    bottom: 45px;
}

.author-lady-small {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 22px;
    border-radius: 100%;
    top: 6.5px;
}

.author-name-small {
    display: inline-block;
    position: relative;
    font-size: 12px;
    left: 6px;
}

.time-and-date {
    display: inline-block;
    font-size: 13px;
    color: #ABBCC8;
    padding-left: 19px;
}

.hipster-text-1, .hipster-text-2 {
    position: relative;
    bottom: 37px;
    padding-left: 165px;
    width: 780px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.75;
}

.ht1l2 {
    position: relative;
    top: 10px;
}

.dumb-line-1 {
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: #D3D3D3;
    left: -25px;
    bottom: -1px;
}

.dumb-line-2 {
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: #D3D3D3;
    left: -25px;
    bottom: 16px;
}

.dumb-line-3 {
    display: inline-block;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: #D3D3D3;
    left: -25px;
    bottom: 30px;
}

.random-shout {
    display: inline-block;
    position: relative;
    left: 188.5px;
    top: -36px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    color: #0068B6;
}


/*--SIDEBAR--*/

aside {
    float: right;
}

.author-lady-large {
    height: 85px;
    width: 85px;
    border-radius: 100%;
    position: relative;
    top: 82px;
    right: 153px;
}

.sidebar-author-name {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(0, 104, 182);
    position: relative;
    right: 157px;
    top: 72.5px;
}

aside div {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: inline-block;
    font-size: 13px;
    top: 55px;
    right: 205px;
    color: rgb(173, 189, 201);
}

.random-ad {
    float: right;
    position: relative;
    text-align: right;
    font-size: 13.5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(173, 189, 201);
    right: 160px;
    bottom: 19px;
}

.ad {
    width: 280px;
    height: 300px;
}

.abthad {
    position: relative;
    bottom: 10px;
    text-decoration: underline;
}

.lower-sidebar {
    display: inline-block;
    float: right;
    position: relative;
}


/*--FOOTER--*/

footer {
    height: 96px;
    background-color: rgb(0, 50, 83)
}
